/* @import url(../fonts/Serif/cmun-serif.css); */
@import url(../fonts/Sans/cmun-sans.css);

body.colorscheme-dark pre code {
  color: #444;
}

img.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
a,
body {
  /* font-family: "Computer Modern Serif", sans-serif; */
  font-family: "Computer Modern Sans", sans-serif !important;
}

.MathJax_CHTML {
  font-size: 20px !important;
}

p {
  font-size: 18px;
}

code {
  font-size: 14px;
}

/* .repo-card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
} */
