


build:
  image: jekyll-arm
  stage: build
  script:
    - bundle install
    - bundle exec jekyll build
  artifacts:
    name: blog
    paths:
      - _site/
    expire_in: 1 week

deploy:
  # https://git.gmantaos.com/docker/ssh-client-arm
  image: gmantaos/ssh-client-arm
  stage: deploy
  dependencies:
    - build
  only:
    - master
  script:
    - apk add tree
    - tree
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts

